[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
jproperties = "*"
configparser = "*"
boto3 = "*"
mlflow = "*"
flask-oidc = "*"
Flask = "*"
PyJWT = "*"

[dev-packages]

[requires]
python_version = "3.8"
